* {
  font-family: cursive;
}
.container {
  margin: auto;
  width: 95%;
  background-color: #0075c99c;
  padding: 10px;
  border-radius: 10px;
}
.container-race {
  display: flex;
}

.menu {
  width: 80%;
  text-align: center;
  justify-content: center;
}

.menu h1 {
  font-size: 50px;
  color: teal;
  font-family: sans-serif;
  text-shadow: 2px 2px #000000;
}

.menu h2 {
  font-size: 30px;
  color: black;
}

#players {
  width: 40px;
  height: 30px;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: center;
}

.btn-start,
.btn-restart {
  height: 50px;
  margin: 20px;
  background-color: teal;
  font-size: 18px;
  color: white;
  border-radius: 10px;
}

.btn-start:hover,
.btn-restart:hover {
  background-color: rgb(12, 41, 41);
}

.track {
  width: 80%;
  background-color: gray;
  height: 100%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.rail {
  width: 99%;
  height: 70px;
  margin: 2px 0;
  background-color: rgba(255, 166, 0, 0.575);
  border: 1px solid black;
  display: flex;
  align-items: center;
}

.car {
  width: 70px;
  height: 40px;
  margin-left: 0px;
  position: relative;
}



table {
  margin-left: 20px;
}

table th,
td {
  font-size: 36px;
  padding: 0 10px;
  background-color: #2fa9a9;
}

table td {
  font-size: 26px;
  text-align: center;
  padding: 2px 0;
  background-color: gainsboro;
}

.finish {
  width: 7%;
  height: 71px;
}
.firstPosition {
  width: 20%;
}

.firstPosition h1 {
  color: rgb(146, 138, 25);
  margin: 0;
  text-shadow: 2px 2px #000000;
  text-align: center;
}

.railCar {
  width: 99%;
  display: flex;
  align-items: center;
}

.carWin {
  width: 90%;
  height: 200px;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
